html {
    padding: 0;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 50px;
}

ul#menu li a {
    background-color: black;
    padding: 10px 50px;
    text-decoration: none;
    color: red;
    border-radius: 10px 10px 10px 10px ;
}

ul#menu li a:hover {
    color: red;
    background-color: black;
}
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: red; 
    color: #696969;
    padding: 0px;
    margin: 0 0 0 0;
}

img#banner {
    padding: 0px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

div#calender{
    position: relative;
    top: 0px;
    left: 1050px;
}

footer {
    position: relative;
    top: 60px;
    background-color: grey;
}
a#totop {
    text-decoration:none;
}
a#totop:hover {
    color: red;
    background-color: black;

}

div#new-things {
    position: relative;
    left: 925px;
    top: 10px;
    background-color: black;
    width: 30%;
}